<% domain = Rails.application.secrets.dig(:forgotten_password_path, user_type) %>
<% path = "/password/edit?reset_password_token=#{@token}" %>
<% url = "#{domain}#{path}" %>

<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', url %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
