# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

shared:
  stage: dev

  firebase:
    server_key: 'KEY'

  blockchain:
    hyperledger_path: 'http://localhost:8080'
    hyperledger_jwt_secret: 's3cr3t'
    hyperledger_jwt_auth_path: '/auth/jwt/callback'

  forgotten_password_path:
    admin: 'http://localhost:8080'
    user: 'http://localhost:8081/#'
    supplier: 'http://localhost:8082/#'

  routes:
    default_url_options:
      host: localhost
      port: 3000

  action_mailer:
    default_options:
      from: no-reply@example.com

  cache:
    url: redis://localhost:6379/0
    namespace: sdc-api-cache

  devise:
    mailer_sender: no-reply@example.com
    pepper: pepper

  # external services keys
  facebook:
    pixel: ''

  google:
    analytics: ''
    geocoding: '' # use with IP-restrictions
    maps: '' # use with URL-restrictions
    site_verification: ''
    tag_manager: ''

  mailchimp:
    api_key: ''
    lists: # list ids, hash-like ~ 'cb0193c912'
      general: ''

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: s3cr3t

test:
  stage: test
  secret_key_base: s3cr3t

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  stage: production
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

  routes:
    default_url_options:
      host: your.host.com
      protocol: https

  action_mailer:
    default_options:
      from: no-reply@host.com
    # Configurações para envio de emails por GMail (SMTP)
    # XXX: deixada ativada para testar comportamento de env.production? em dev workstation
    # ----
    delivery_method: smtp
    smtp_settings:
      address: smtp.gmail.com  # até para @caiena.net, para evitar SPAM
      port: 587
      domain: host.com # your app domain
      user_name: 'app-mail@gmail.com'
      password:  'my-s3cr3t!*'
      authentication: login
      enable_starttls_auto: true
      #openssl_verify_mode: none  # use it for self-signed certs

    # # Configurações para envio de e-mails por SendGrid (SMTP Relay)
    # # ----
    # delivery_method: smtp
    # smtp_settings:
    #   address: smtp.sendgrid.net
    #   port: 587
    #   domain: sg.your-domain.com # your SendGrid whitelabeled sub-domain!
    #   user_name: apikey # this is fixed - "apikey".
    #   password: '<your-api-key-here>' # use single-quotes to avoid problems with special characters
    #   authentication: plain
    #   enable_starttls_auto: true

    # # Configurações para envio de e-mails por Mailgun (API)
    # # ----
    # delivery_method: mailgun
    # mailgun_settings:
    #   api_key: '<your-api-key-here>'
    #   domain: mg.your-domain.com # your MailGun subdomain!
