<!DOCTYPE html>
<html>

<body>
  <table style="width:100%;">
    <tr>
      <td style="width:56px">
        <img src="http://carweb.ba.gov.br/sol/icon-96x96.png" style="width:48px;height:48px">
      </td>
      <td>
        <div>SOL - SOLUÇÃO ONLINE DE LICITAÇÃO</div>
      </td>
    </tr>
  </table>
</body>

</html>